
<p align="center">
  Best repository ever seen
</p>


## Table of contents

  * [Common usage](#common-usage)
  * [Installation](#installation)
  * [Examples](#examples)
  * [Contributing](#contributing)
  * [License](#license)

## Common usage

Let me show you how it works :) 

## Installation

Let me show you how to install

## Examples

Let see some examples

## Contributing

You may contribute in several ways like creating new features, fixing bugs, improving documentation and examples
or translating any document here to your language. [Find more information in CONTRIBUTING.md](CONTRIBUTING.md).

## License

[MIT](LICENSE)

